<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ope.mobile_ope">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

<application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name="br.com.fernandosousa.lmsapp.BarberApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <activity
            android:name="com.ope.mobile_ope.Controladores.LoginActivity"
            android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".Controladores.ClienteListActivity"
              android:theme="@style/AppTheme.Toolbar" >

    </activity>
    <activity android:name=".Controladores.ServicoListActivity"
              android:theme="@style/AppTheme.Toolbar" >

    </activity>
    <activity android:name=".Controladores.ServicoCadastroActivity"
              android:theme="@style/AppTheme.Toolbar" >

    </activity>
    <activity android:name=".Controladores.CabeleleiroListActivity"
              android:theme="@style/AppTheme.Toolbar" >

    </activity>
    <activity android:name=".Controladores.ProdutoListActivity"
              android:theme="@style/AppTheme.Toolbar" >

    </activity>
    <activity android:name=".Controladores.ConfiguracoesActivity"
              android:theme="@style/AppTheme.Toolbar" >

    </activity>
    <activity android:name=".Controladores.ProdutoCadastroActivity"
              android:theme="@style/AppTheme.Toolbar" >

    </activity>
    <activity android:name=".Controladores.CabeleleiroCadastroActivity"
              android:theme="@style/AppTheme.Toolbar" >
    </activity>
    <activity android:name="com.ope.mobile_ope.Utils.DebugActivity" />
    <activity
            android:name="com.ope.mobile_ope.Controladores.TelaInicialActivity"
            android:theme="@style/AppTheme.Toolbar" />
    <activity android:name="com.ope.mobile_ope.Controladores.ClienteCadastroActivity"
              android:theme="@style/AppTheme.Toolbar"
              android:parentActivityName="com.ope.mobile_ope.Controladores.ClienteListActivity"></activity>
    <activity android:name="com.ope.mobile_ope.Controladores.ServicoActivity"
              android:theme="@style/AppTheme.Toolbar"
              android:parentActivityName="com.ope.mobile_ope.Controladores.TelaInicialActivity"></activity>
</application>

</manifest>